# Python
__pycache__/
*.pyc
venv/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs & Backups
*.log
system_logs/

# Development
chat protocols/
.vscode/

# Temp files
*.bak
*.tmp
*.swp
*.swo
*~

# Project specific
client_debug.log
practical_files.txt
t*

# Keep in Git but ignore changes
Backup/

# Temporary files
commit_msg.txt
